h1, p {
  font-family: 'Segoe UI';
  margin-bottom: 0;
}
a {
  color: #fff;
}
a:hover {
  color: #fff;
  opacity: 0.5;
}
li {
  list-style-type: none;
  border-top: 1px solid #80858F;
}
.FaCheckCircle {
  margin-right: 15px;
  opacity: 0.5;
  transition: all 0.3s;
}
.FaCheckCircle:hover, .FaTrashAlt:hover {
  opacity: 1;
  cursor: pointer
}
.FaTrashAlt {
  position: absolute;
  right: 15px;
  opacity: 0.5;
  transition: all 0.3s;
}
.card {
  font-size: 15px;
}
.screen {
  background-color: #3A3F49;
  color: #fff;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.info .task {
  color: #61DBFB
}
.social .ico {
  transition: all 0.2s;
}
.social .ico:hover {
  cursor: pointer;
  opacity: 0.5;
}
.social .ico {
  font-size: 30px;
  margin-left: 20px;
}
.inputbox {
  margin-top: 40px;
}
.inputbox form .btn {
  margin-left: 10px;
}
.inputbox .inputvalue {
  width: 50%;
  height: 36px;
  padding-left: 10px;
  padding-right: 10px;
}
.inputbox .btn {
  margin-left: 15px
}
.btn-submit {
  color: #fff;
  background-color: #61DBFB;
  border-color: #61DBFB;
  transition: all 0.3s;
}
.btn-submit:hover {
  color: #fff;
  background-color: #0c95b7;
  border-color: #0c95b7;
}
.result {
  margin-top: 40px;
}
.result .item {
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
}